<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title><%= groceryList[0].listName %></title>
</head>
<body>
    <%- include('../views/partials/groceryNav'); %>
    <div id="groceryListView"></div>

<!-- Edit Grocery List Modal -->
<div class="modal fade" id="editGroceryListModal" tabindex="-1" aria-labelledby="editGroceryListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="editGroceryListModalLabel">Edit Grocery List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Move your edit form content here for grocery lists -->
                <form method="POST" action="/grocery/edit/<%= groceryList[0].id %>" id="editGroceryListForm" enctype="multipart/form-data">
                    <input type="hidden" id="groceryListId" name="groceryListId" value="<%= groceryList[0].id %>">
                    <%- include('../views/partials/createGroceryForm.ejs'); %>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="editGroceryListForm" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>
        const groceryListData = <%- JSON.stringify(groceryList[0]) %>;
    </script>
    <script src="/javascripts/groceryView.js"></script>
    <script src="/javascripts/groceryForm.js"></script>
</body>
</html>